<footer class=footer-class>
    <div class=footer-container>
        <div class="copy">
            사이트명 : sehanFilm
            © 2024 seo.hj All Rights Reserved.
        </div>
    </div>
</footer>
