<!DOCTYPE html>
<html lang="en">
<title>sehanFilm</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<link rel="stylesheet" href="/lib/pico.min.css">
<script src="/lib/qrcode.min.js"></script>
<script src="/lib/sweetalert2@10.js"></script>
<script src="/lib/glfx.js"></script>
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/qrcode.css" />
<link rel="stylesheet" href="/css/webcam.css" />
<link rel="icon" href="/favicon.ico" type="image/x-icon">