<%- include('partials/header.ejs'); %>
<body>
    <div class="parent-container">
        <a href='/' class="logo-text">sehanFilm</a>
        <div class="image-container">
            <img src="<%= imageUrl %>" class="photo" alt="Merged Image">
        </div>
        <div style="margin: 20px;">
            <span class="main-text">QR코드를 스캔하면 모바일로 다운로드 할 수 있습니다.
                <br>리모컨은 제자리에 놔주세요.
            </span>
        </div>
        <!-- QR 코드를 표시할 div -->
        <div id="qr-code" class="qr-code"></div> 
        <div style="margin: 20px;">
            <a href='/' class="main-text">돌아가기</a>
        </div>
        <%- include('partials/footer.ejs'); %>.
    </div> 
    
    <script>
        // 페이지 로드 시 QR 코드 생성
        window.onload = function() {
            const imageUrl = "<%= imageUrl %>";
            const qrCodeDiv = document.getElementById('qr-code');
            QRCode.toDataURL(imageUrl, function (err, url) {
            if (err) {
                console.error(err);
                qrCodeDiv.textContent = 'QR 코드를 생성할 수 없습니다.';
            } else {
                console.log(url)
                const img = document.createElement('img');
                img.src = url;
                qrCodeDiv.appendChild(img); // QR 코드 이미지를 div에 추가
            }
            
        });
    };
    </script>
</body>
</html>